header {
	background: #FCFDFD;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

.alignright { float:left; }

.menuPrincipal {
	background: #E2EAE4;
	text-transform: uppercase;
	color: #003E15;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
	 padding: 1px 20px;
}

#rectangle{
    width:200px;
    height:100px;
    background:blue;
}
